*,
*:before,
*:after {
    margin: 0;
    box-sizing: border-box;
}

.board {
    width: 100px;
    height: 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.cell {
    width: 30px;
    height: 30px;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.copyright {
    color: var(--clr-primary-middle);
    font-size: 14px;
    & a {
        text-decoration: none;
        color: var(--clr-primary-middle);
        &:hover {
            color: var(--clr-primary-beige);
        }
    }
}